:root {
  color-scheme: light;
  --light-main-background: #d1d1cf;
  --light-secondary-background: #fff;
  --light-main-text: black;
  --light-secondary-text: #3a3a35;
  --light-main-background: #d1d1cf;
  --light-hover: #d1d1cf;
  --border: 1px solid var(--light-main-background);
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background-color: var(--light-main-background);
  width: 24rem;
  height: 24rem;
}

#popup-container {
  display: flex;
  flex-direction: column;
}

/* Bottom bar */
#bottom-bar {
  background-color: var(--light-secondary-background);
  padding: 0.8rem;
  height: 32px;
  border-top: var(--border);
}

/* top bar */
#entire-top-bar {
  background-color: var(--light-secondary-background);
  padding: 0.8rem;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.24);
}

.top-bar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.header-text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: var(--light-main-background);
  margin-right: 0.2rem;
}

.top-bar-icon {
  width: 32px;
  height: 32px;
}

/* Settings Button */
#settings-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings-icon img {
  width: 100%;
  height: 100%;
  display: block;
}

.button-hover-effect {
  padding: 6px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.button-hover-effect:hover {
  background-color: var(--light-secondary-background);
}

/* middle */
#middle-section {
  max-height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.add-new-blocked-site {
  padding: 0.5rem;
  height: 4rem;
}

.cont {
  margin: 10px;
}

.blocked-add-icon {
  width: 44px;
  height: 44px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.blocked-card-inside {
  gap: 1.5rem;
}

.blocked-card-outline {
  margin: 5px 10px 5px 10px;
  display: flex;
}

.blocked-card-add {
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.blocked-site-img {
  width: 52px;
  height: 52px;
}

.blocked-site-text-container {
  padding-top: 0.5rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.blocked-site-url {
  font-weight: 400;
  font-size: 18px;
  color: #d1d1cf;
  padding-bottom: 0.2rem;
}

.blocked-site-under-text {
  font-size: 12px;
  color: #7e7e74;
}

/* Popup for adding new sites */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #303030;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  min-width: 200px;
}

.popup-content button {
  padding: 10px;
  background-color: #484847;
  color: #d1d1cf;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cross-button {
  display: flex;
  justify-content: center;
}

.cross-image {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 20px;
  width: 20px;
}
