:root {
  color-scheme: light;
  --light-main-background: #d1d1cf;
  --light-secondary-background: #fff;
  --light-main-text: black;
  --light-secondary-text: #3a3a35;
  --light-main-background: #d1d1cf;
  --light-hover: #d1d1cf;
  --border: 1px solid var(--light-main-background);
  user-select: none;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background-color: var(--light-secondary-background);
  width: 350px;
}

#popup-container {
  display: flex;
  flex-direction: column;
}

/* top bar */
#entire-top-bar {
  background-color: var(--light-secondary-background);
  margin: 15px 15px 0px 15px;
  padding-bottom: 15px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
}

.top-bar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.header-text {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: var(--light-main-text);
  margin-left: 0.5rem;
}

.top-bar-icon {
  width: 32px;
  height: 32px;
}

/* Settings Button */
#settings-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.7s ease;

  img {
    user-select: none;
    width: 100%;
    height: 100%;
    display: block;
  }
}

#settings-icon:hover {
  cursor: pointer;
  transform: rotate(0.3turn);
}

.button-hover-effect {
  padding: 6px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* middle */
#middle-section {
  padding: 0px 15px 15px 15px;

  h1 {
    font-size: 18px;
  }
}
