:root {
  /* Light mode colors */
  --main-background-color: #fff;
  --secondary-background-color: #d1d1cf;
  --text-color: #333333;
  --secondary-text-color: #333333;
  --card-background: #f0f0f0;
  --button-background: #e0e0e0;
  --button-text: #000000;
  --border-color: #cccccc;
  --active-button-color: green;
  font-family: "Lato", sans-serif;
  user-select: none;
  color: var(--text-color);
  --dialog-background-color: #fff;
  --blue-card-linear: linear-gradient(rgb(168 222 240), rgb(212 234 247));
  --green-card-linear: linear-gradient(rgb(234, 240, 168), rgb(244, 247, 212));
  --border: 1px solid #acacaa;
  font-family: "Lato", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Dark mode colors */
[data-theme="dark"] {
  --main-background-color: #696969;
  --secondary-background-color: #424242;
  --text-color: #000000;
  --secondary-text-color: #000000;
  --card-background: #2c2c2c;
  --button-background: #3a3a3a;
  --button-text: #ffffff;
  --border-color: #444444;
  --active-button-color: #fff;
  --dialog-background-color: #d0d0d0;
  --blue-card-linear: linear-gradient(rgb(113 166 184), rgb(134 157 170));
  --green-card-linear: linear-gradient(rgb(198 204 128), rgb(193 195 166));
  color: var(--text-color);
}

body {
  background-color: var(--secondary-background-color);
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 22px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}

.card {
  display: flex;
  flex-direction: column;
  width: 790px !important;
  height: calc(100vh - 64px);
  position: relative;
  margin: 32px auto;
  background: var(--main-background-color);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  overflow: hidden;
}

#options-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--main-background-color);
  padding: 28px 28px 0.8rem;
  border-bottom: var(--border);
}

.container {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  gap: 20px;
}

.image-offset {
  gap: 0.8rem;
}

.container img {
  margin-right: auto;
}

.header-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  font-size: 28px;
  font-weight: 600;
}

#middle {
  flex: 1;
  overflow-y: auto;
  padding: 6px 28px 28px 28px;
}

.settings-item-container {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: var(--border);
}

.button {
  cursor: pointer;
}

.settings-item-container > p {
  display: inline;
  font-size: 15px;
  color: var(--secondary-text-color);
  user-select: text;
}

p.under-header {
  font-size: 12px;
}

.slider {
  margin-left: auto;
}

.active {
  color: var(--active-button-color);
}

.custom-textarea {
  margin: 0;
  flex-grow: 2;
  flex-shrink: 0;
  display: block;
  white-space: pre;
  word-wrap: normal;
  box-sizing: border-box;
  min-height: 100%;
  padding: 4px 0;
  outline: none;
}

.blocked-site-container {
  background-color: #202124;
  border: 1px solid rgb(95, 99, 104);
  color: #e8e8d3;
  height: 300px;
  overflow: hidden;
  resize: vertical;
}

.scroll-container {
  display: flex !important;
  align-items: flex-start !important;
  font-family: monospace;
  line-height: 1.4;
  height: 100%;
  overflow-x: auto;
  position: relative;
  z-index: 0;
}

.line-number-container {
  width: 30px;
  overflow: hidden;
}

.buttons {
  background-color: aqua;
  width: 30px;
  height: 40px;
}

.logo {
  width: 40px;
  height: 40px;
}

.question-text {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 10px;
}

.discord-button {
  cursor: pointer;
  font-weight: 600;
}

.discord-button svg {
  margin-right: 4px;
}
