:root {
  color-scheme: light;
  --light-main-background: #d1d1cf;
  --light-secondary-background: #fff;
  --light-main-text: black;
  --light-secondary-text: #3a3a35;
  --light-main-background: #d1d1cf;
  --light-hover: #d1d1cf;
  --border: 1px solid var(--light-main-background);
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--light-main-background);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 32px !important;
  width: 550px !important;
  overflow-y: auto;
  position: fixed;
  top: 32px;
  bottom: 32px;
  left: calc(50% - 240px);
  background: var(--light-secondary-background);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}

#options-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  padding-bottom: 0.8rem;
  border-bottom: var(--border);
}

.container {
  display: flex;
  align-items: center;
  color: var(--light-main-text);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
}

.image-offset {
  gap: 0.8rem;
}

.container img {
  margin-right: auto;
}

.header-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.settings-item-container {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: var(--border);
}

.button {
  cursor: pointer;
}

p {
  font-size: 15px;
  color: var(--light-secondary-text);
}

.slider {
  margin-left: auto;
}

.active {
  color: green;
}

.custom-textarea {
  margin: 0;
  flex-grow: 2;
  flex-shrink: 0;
  display: block;
  white-space: pre;
  word-wrap: normal;
  box-sizing: border-box;
  min-height: 100%;
  padding: 4px 0;
  outline: none;
}

.blocked-site-container {
  background-color: #202124;
  border: 1px solid rgb(95, 99, 104);
  color: #e8e8d3;
  height: 300px;
  overflow: hidden;
  resize: vertical;
}

.scroll-container {
  display: flex !important;
  align-items: flex-start !important;
  font-family: monospace;
  line-height: 1.4;
  height: 100%;
  overflow-x: auto;
  position: relative;
  z-index: 0;
}

.line-number-container {
  width: 30px;
  overflow: hidden;
}

.buttons {
  background-color: aqua;
  width: 30px;
  height: 40px;
}

ul.no-bullets {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
  font-size: 14px;
}
