.helpbutton-container {
  width: 20px;
  height: 20px;
  svg {
    fill: "#e8eaed";
    transition: 0.3;
  }
}

.help-dialog {
  background-color: var(--dialog-background-color);
  user-select: text;
  transform: translateY(-2px);
  z-index: 100;
  p {
    font-size: 14px;
  }
}
