.slider-container {
  width: 40.375px;
  height: 24.9375px;
  position: relative;
}

.slider-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider-switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e0dfe2;
  border-radius: 13.0625px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.slider-slider {
  width: 21.375px;
  height: 21.375px;
  position: absolute;
  left: calc(50% - 21.375px / 2 - 8.3125px);
  top: calc(50% - 21.375px / 2);
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2.375px 5.9375px rgba(0, 0, 0, 0.15), 0px 2.375px 1.1875px rgba(0, 0, 0, 0.06);
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.slider-checkbox:checked + .slider-switch {
  background-color: #5589d0c9;
}

.slider-checkbox:checked + .slider-switch .slider-slider {
  left: calc(50% - 21.375px / 2 + 8.3125px);
  top: calc(50% - 21.375px / 2);
}
