/* Mostly for shared css between options/popup */
.url-input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid hsl(202, 7%, 69%);
  padding: 5px 0;
  font-size: 14px;
  outline: none;
  transition: border-bottom-color 0.3s ease;

  &:focus {
    border-bottom-color: hsl(0, 5%, 17%);
  }
}

.url-button {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.url-button.add {
  background-color: black;
  width: 55%;
}

.url-button.add.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.url-button.cancel {
  background-color: #ccccca;
  width: 40%;
  color: black;
}

.button-wrapper {
  margin-top: 17px;
  justify-content: space-between;
  display: flex;
}

#input-wrapper {
  display: flex;
  flex-direction: column;
  .url-input {
    margin-bottom: 15px;
  }
}

.alternatives {
  opacity: 0.5;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  height: 2rem;
  align-content: center;
}

.alternatives:hover {
  opacity: 1;
  cursor: pointer;
}
