:root {
  color-scheme: light;
  --light-main-background: #d1d1cf;
  --light-secondary-background: #fff;
  --light-main-text: black;
  --light-secondary-text: #3a3a35;
  --light-main-background: #d1d1cf;
  --light-hover: #d1d1cf;
  --border: 1px solid var(--light-main-background);
  font-family: "Lato", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.cards-container {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  background: linear-gradient(rgb(234, 240, 168), rgb(244, 247, 212));
  position: relative;
  height: 100px;
  width: 210px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  font-family: "Roboto";
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.2), 0px 5px 7px 1px rgba(0, 0, 0, 0.14),
    0px 2px 9px 3px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.card-container > .add-card-container {
  display: flex;
  justify-content: center;
}

.add-card-container {
  cursor: pointer;
}

.card-container > .card-top {
  background: linear-gradient(rgb(234, 240, 168), rgb(244, 247, 212));
  height: 55%;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 14px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

.card-container > .card-bottom {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  height: 45%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-container > .card-bottom .blocked-results {
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
}

.card-container > .card-bottom svg {
  fill: rgb(36, 22, 22);
  transition: fill 0.3s ease;
}

.card-container:hover {
  transform: translateY(-5px);

  .delete-button {
    opacity: 0.9;
  }
  .card-bottom svg {
    fill: black;
  }
}

.delete-button {
  opacity: 0.3;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.delete-button svg {
  fill: rgb(36, 22, 22);
  transition: fill 0.3s ease;
}

.delete-button:hover svg {
  fill: #ff4444;
}

.secondary {
  background: linear-gradient(rgb(168 222 240), rgb(212 234 247));
}

#card-top-lifetime {
  background: linear-gradient(rgb(168 222 240), rgb(212 234 247));
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #efefef;
  color: #000;
  border-radius: 50%;
  width: 23px;
  height: 16px;
  font-size: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
